header {
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
  color: #333;
  width: 100%;
  border-bottom: 2px solid #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: space-between;
  align-items: center;
}

.navigation-elements {
  font-size: 18px;
}

.spacer {
  width: 60vh;
}

#site-title {
  margin: 0;
  padding: 2%;
  font-size: 32px;
  font-weight: bold;
  align-items: center;
}

#site-logo {
  width: 150px;
  height: auto;
  padding-left: 2vh;
  padding-top: 1vh;
  justify-self: flex-start;
}

#main-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav li {
  margin: 0 10px;
}

#main-nav li a {
  color: #333;
  font-weight: bold;
  transition: color 0.2s ease;
}

#main-nav li a:hover {
  color: #007bff;
}
